*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body{
    background-image: url("mainPozadina.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
#glava{
    background-color: rgba(255, 34, 0, 0.526);
    width: 50%;
    margin: 0% auto 0% auto;
    text-align: center;
    padding: 1.5%;
    border-bottom-left-radius: 3cm;
    border-bottom-right-radius: 3cm;
    position: fixed;
    justify-content: center;
    left: 0;
    right: 0;
    display:inline;
}
#glava ul{
    padding: 0;
}
#glava li{
    display: inline;
    padding-left: 4%;
    padding-right: 4%;
    font-size: 0.7cm;
}
#glava a{
    color: white;
    text-decoration: none;
}
#navigacija:hover{
    border-bottom: 2px solid white;
    border-radius: 1cm;
}
.prviHome{
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    padding-top: 10%;
    padding-bottom: 10%;
    align-items: center;
}
#logo{
    text-align: center;
    width: 50%;
}
#glavnaSlika{
    width: 100%;
    padding: 3%;
    border-radius: 2cm;
    border: 4px solid white;
    opacity: 80%;
}
#naslov{
    width: 50%;
    text-align: center;
    color:rgba(255, 41, 8, 0.632);
    font-size: 2cm;
}
.Info{
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    display: flex;
    flex-direction: column;
}
#Infochell{
    margin-top: 2cm;
    margin-bottom: 2cm;
    background-color: rgba(255, 255, 255, 0.578);
    border-radius: 3cm;
    padding-bottom: 1cm;
    padding-top: 1cm;
}
.zgrada{
    width: 60%;
    margin-left: 1cm;
    border-radius: 3cm;
}
#Naslov{
    text-align: center;
    color: rgb(176, 55, 61);
    margin-bottom: 5%;
    font-size: 1.5cm;
}
#tekstZgrada{
    display:flex;
    font-size: 1cm;
    color: black;
    font-style: italic;
    text-align: center;
    justify-content: center;

}
#informacije{
    padding: 1cm;
}
#Projects{
    display: flex;
    justify-items: center;
    flex-direction: column;
}
#naslovProjekta{
    text-align: center;
    color: white;
    font-size: 3em;
    padding: 3%;
    padding-bottom: 1.5%;
}
#Projects hr{
    margin-bottom: 2%;
    width: 15%;
    height: 3px;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid white;
    background-color: rgb(255, 255, 255);
}
#containter{
    display: flex;
    justify-content: center
}
.projekti{
    width: 27%;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.578);
    border-radius:20% 20% 20% 20%;
    margin-left: auto;
    margin-right: auto;
}
.projekti:hover{
    background-color: rgba(255, 255, 255, 0.737);
}
.slikaProjekta{
    width: 60%;
    background-color: rgb(255, 255, 255);
    border-radius:50%;
    margin-top: 5%;
    margin-bottom: 5%;
}
.infoApp{
    margin-top: 0%;
    margin-bottom: 5%;
    font-size: 1.5em;
    padding: 10%;
}
.imeApp{
    margin-bottom: 5%;
    font-size: 2em;
}
#contact{
    margin-top: 3cm;
    margin-bottom: 3%;
}
.logoKontakta{
    width: 70%;
}
.insta{
    width: 15%;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.578);
    margin-left: 3%;
    margin-right: 3%;
    border-radius:10% 10% 10% 10%;
    padding: 2%;
}
.insta:hover{
    background-color: rgba(255, 255, 255, 0.737);
}
#contact hr{
    margin-bottom: 2%;
    width: 15%;
    height: 3px;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid white;
    background-color: rgb(255, 255, 255);
}
.insta a{
    font-size: 2em;
}
footer{
    text-align: right;
    background-color: white;
}
